.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.asideComment{
  width: 33.33%;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
  
}

.App-link {
  color: #61dafb;
}

